{{ define "content" }}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Upload Avatar User</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
                    <li class="breadcrumb-item"><a href="/users">Users</a></li>
                    <li class="breadcrumb-item active">Upload Avatar User</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">

            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <!-- <div class="card-header">
                        <h3 class="card-title">List of User</h3>
                    </div> -->
                    <div class="card-body">
                        <form action="/users/avatar/{{.ID}}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <!-- <label for="name">Name</label> -->
                                <input type="file" name="avatar" id="avatar" class="form-control" required accept="image/*">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.card -->

</section>
{{ end }}