{{ define "content" }}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Detail Campaign {{ .Name }}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <!-- <li class="breadcrumb-item"><a href="#">Home</a></li> -->
                    <li class="breadcrumb-item"><a href="/campaigns">Campaigns</a></li>
                    <li class="breadcrumb-item active">{{ .Name }}</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" placeholder="Enter name" readonly disabled class="form-control" required value="{{.Name}}">
                        </div>
                        <div class="form-group">
                            <label for="short_description">Short Description</label>
                            <input type="text" name="short_description" readonly disabled id="short_description" placeholder="Enter short description" class="form-control" required value="{{.ShortDescription}}">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea name="description" placeholder="Enter Description" readonly disabled id="description" class="form-control">{{.Description}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="perks">Perks</label>
                            <input type="text" name="perks" id="perks" readonly disabled placeholder="Enter perks, separate with comma (,)" class="form-control" required value="{{.Perks}}">
                        </div>
                        <div class="form-group">
                            <label for="goal_amount">Goal Amount</label>
                            <input type="number" name="goal_amount" id="goal_amount" readonly disabled min="0" placeholder="Enter Goal Amount" class="form-control" required value="{{.GoalAmount}}">
                        </div>
                        <div class="form-group">
                            <label for="backer_count">Backer Count</label>
                            <input type="text" class="form-control" name="backer_count" id="backer_count" readonly disabled value="{{ .BackerCount }}">
                        </div>
                        <div class="form-group">
                            <label for="backer_count">Creator</label>
                            <input type="text" class="form-control" name="backer_count" id="backer_count" readonly disabled value="{{ .User.Name }}">
                        </div>
                        <div>
                            <a href="/campaigns" class="btn btn-dark">Back</a>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.card -->

</section>
{{ end }}