{{ define "content" }}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>List of Campaigns</h1>
                <a href="/campaigns/new" class="btn btn-primary btn-sm mt-2"><i class="fa fa-plus"></i> Create Campaign</a>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Campaigns</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="container-fluid">
        <div class="card">
            <!-- <div class="card-header">
                <h3 class="card-title">List of User</h3>
            </div> -->
            <div class="card-body p-0">
                <table class="table mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th></th>
                            <th>Campaign Name</th>
                            <th>Short Description</th>
                            <th>Goal Amout</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .campaigns}}
                        <tr>
                            <td>
                                {{ if .CampaignImages }}
                                <img src="/{{ (index .CampaignImages 0).FileName }}" class="img-fluid img-thumbnail" alt="" width="80"> {{end}}
                            </td>
                            <td>{{.Name}}</td>
                            <td>{{.ShortDescription}}</td>
                            <td>{{.GoalAmountFormatIDR}}</td>
                            <td>
                                <a href="/campaigns/show/{{.ID}}" class="btn btn-success btn-sm"><i class="fa fa-search"></i></a>
                            </td>
                            <td>
                                <a href="/campaigns/edit/{{.ID}}" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                            </td>
                            <td>
                                <a href="/campaigns/image/{{.ID}}" class="btn btn-success btn-sm"><i class="fa fa-camera"></i></a>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <!-- <div class="card-footer">
                Footer
            </div> -->
            <!-- /.card-footer-->
        </div>
    </div>
    <!-- /.card -->

</section>
{{ end }}